services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # Optional: for HTTP/3 support
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web

  # db:
  #   image: cockroachdb/cockroach:latest
  #   ports:
  #     - "26257:26257"
  #   command: start-single-node --insecure
  #   volumes:
  #     - db-data:/cockroach/cockroach-data
  #   healthcheck:
  #     test:
  #       [
  #         "CMD",
  #         "./cockroach",
  #         "sql",
  #         "--host=db:26257",
  #         "--insecure",
  #         "--user",
  #         "root",
  #       ]
  #     interval: 1s
  #     timeout: 1s
  #     retries: 20
  #   networks:
  #     - web

  api:
    build:
      context: ./
    image: ghcr.io/rtfpessoa/roodle
    # depends_on:
    #   db:
    #     condition: service_healthy
    # links:
    #   - db
    env_file:
      - .server.env
    networks:
      - web

networks:
  web:
    driver: bridge

volumes:
  caddy_data:
    driver: local
  caddy_config:
    driver: local
  db-data:
    driver: local
