name: server

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: go generate
        run: go generate -v ./...

      - name: go build
        run: go build -v --tags "appsec" -ldflags="-s -w" ./...

      - name: go test
        run: go test -v ./...
